In [26]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [27]:
# Load the data
df = pd.read_csv("C:\\Users\\tech\\Desktop\\MoroccoEconomyYTAnalysis\\notebooks\\newtranslated_dataset.csv")

In [28]:
df.head()

                                    divided_captions
0  madam sir good evening Moroccans living abroad...
1   tax declarations filed in the countries of re...
2  like many developing countries and indeed Moro...
3   investments in Morocco but also on the transf...
4   from morocco mohammedia good evening thank yo...

In [31]:
df.dropna(subset=['divided_captions'], inplace=True)

In [32]:
df.drop_duplicates(inplace=True)

In [34]:
def preprocess_text(text):
    # Remove punctuation and special characters
    text = re.sub(r'[^\w\s]', '', text)
    # Convert to lowercase
    text = text.lower()
    # Tokenize and remove stopwords
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word not in stopwords.words('english')]
    # Join tokens back into text
    return ' '.join(tokens)

In [35]:
df['divided_captions'] = df['divided_captions'].apply(preprocess_text)

In [36]:
df.to_csv('cleaned_transdataset.csv', index=False)